:root {
    --yellow: #fabe28;
    --light-grey: #eeeeee;
    --hand-script: "Amatic SC", cursive;
    --marker-script: "Permanent Marker", cursive;
    --sans-script: "Nunito", sans-serif;
    --small: 1.3rem;
    --medium: 2.25rem;
    --xsmall: 0.75rem;
    --hand-border: 255px 15px 225px 15px/15px 225px 15px 255px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--sans-script);
    font-size: 16px;
  }
  
  .sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

  .desktop-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;    
  }
  
  .app-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr auto;
    height: calc(100vh - 2px);
    width: 100%;
  }
  
  section,
  main,
  .tabs-svg-wrap {
    width: inherit;
  }
  
  .tabs-svg-wrap {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
    padding: 0 0 2rem 0;
  }
  
  .header {
    background: #f1f3f2;
    width: 100%;
  }
  
  .brand {
    background: var(--yellow);
    font-family: var(--marker-script);
    font-size: var(--small);
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
  }
  
  .download {
    font-family: var(--hand-script);
    font-size: var(--small);
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0.5rem;
  }
  
  .download-button {
    background: url('./assets/save.svg') no-repeat center;
    border: none;
    height: 2rem;
    margin-left: 1rem;
    width: 2rem;
  }

  #download-svg {
    display: none;
  }
  
  #remix {
    border: solid 1px var(--light-grey);
    display: block;
    height: 0;
    margin: 0 auto;
    width: auto;
  }
  
  .tabs-container {
    padding: 1rem 0;
    width: 100%;
  }
  
  [role="tablist"] {
    border: solid 1px var(--light-grey);
    border-left: 0;
    border-right: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }
  
  [role="tab"] {
    display: block;
    font-family: var(--hand-script);
    font-size: var(--small);
    line-height: 1;
    list-style-type: none;
    padding: 0.75rem 0;
    text-align: center;
  }
  
  [role="tab"][aria-selected="true"] {
    border-bottom: solid 3px var(--yellow);
  }
  
  [role="tabpanel"] {
    border-bottom: solid 1px var(--light-grey);
    padding: 1rem 0;
    max-width: 100%;
    width: 100%;
  }

  .tabs-container [aria-expanded="false"] {
    display: none;
  }
  
  .tabs-container [aria-expanded="true"] {
    display: block;
  }
  
  .category__contents {
    display: flex;
    overflow-x: auto;
    padding-bottom: 1rem;
    width: 100%;
  }
    
  .add-part {
    background: none;
    border: dashed 1px var(--light-grey);
    display: block;
    height: 75px;
    margin-right: 0.5rem;
    min-width: 75px;
    width: 75px;
  }
  
  .controls {
    align-items: center;
    border-bottom: solid 1px var(--light-grey);
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  
  .controls__button {
    background: var(--yellow);
    border: none;
    border-radius: var(--hand-border);
    font-family: var(--hand-script);
    font-size: var(--small);
    padding: 0.5rem 1rem;
  }
  
  .footer {
    font-size: var(--xsmall);
    text-align: center;
  }
  
  @media screen and (min-width: 900px) {
    
    .desktop-only {
      position: relative;
      clip: revert;
      height: auto;
      overflow: auto;
      width: auto;
    }

    .app-container {
      height: auto;
    }

    .header {
      display: block;
      height: 4.25rem;
      position: relative;
    }

    .brand {
      border-radius: var(--hand-border);
      font-size: var(--medium);
      position: absolute;
      top: 2px;
      left: 2px;
      width: 30%;
    }

    .download-button {
      background: var(--yellow);
      color: inherit;
      height: auto;
      padding: 0.5rem 3rem;
      text-decoration: none;
      width: auto;
    }

    #download-svg {
      display: inline;
    }

    .category__contents {
      align-content: flex-start;
      flex-wrap: wrap;
      padding: 0.5rem 0.5rem;
      height: calc(400px - 2.8rem - 3rem + 3px);
    }

    .tabs-svg-wrap {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 400px 1fr;
      padding: 0 0.5rem 2rem 0.5rem;
      width: 100%;
    }

    .add-part {
      margin-bottom: 0.5rem;
    }

    .svg-wrap {
      padding: 0 0.5rem 0 0;
    }
    
    .tabs-container {
      border: solid 1px var(--light-grey);
      border-top: 0;
      border-bottom: 0;
      padding: 0;
    }
    
    #remix {
      height: auto;
      width: 100%;
    }
    .controls {
      align-items: flex-start;
      border: 0;
      justify-content: flex-end;
    }
  }